{%extends "base.html"%}
{%block content%}
<div class="col-md-8 login">
    <div class="card">
        <div class="card-header">Create Account</div>
    </div>
    <div class="card-body col-md-8 display-center">
        <form action="/auth/register" method="post">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" name="email" id="email" class="form-control" placeholder="Email">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="text" name="password" id="password" class="form-control" placeholder="*******">
            </div>
            <div class="form-group">
                <button class="btn btn-info" type="submit">Create</button>
            </div>

        </form>
    </div>
</div>
{%endblock%}
